################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/csharp-webhook-with-resource-data/v16/Server/sqlite3
/TeamsGraphChangeNotification/bin/Debug/netcoreapp2.2
/TeamsGraphChangeNotification/obj
